body{

}

a{
    color: black;
}

a:hover{
    text-decoration: none;
    color: #6352d2;
}

#container{
    height: 100%;
    width: 100%;
}

#table-container{
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -350px;

}

#form-container{
    width: 300px;
    margin: 50px auto;
}

.post-header{
    width: 700px;
    border-top: none

}

.post-info{
    float: right;
    border: none;
    line-height: 30px;
}

.post-content{
    padding: 30px 0;
    vertical-align: top;
    border: none;
    border-bottom: 1px dotted #343434;
    height: 300px;
}

.post-footer{
    float: right;
}

.fieldWrapper{
    height: 50px;

}
.menu{
    width: 100%;
    display: inline-block;
}

.menu-right{
    display: inline-block;
    height: 30px;
    float: right;
    line-height: 30px;
}

.menu-left{
    float: left;
    height: 30px;
    line-height: 30px;
}


form{
    font-size: 1.2em;
}

form > input{
    float: right;
}

.control-label{
    width: 100px;
}

.postTitle{
    width: 90%;
    margin: 0 10px;
}

.postContent{
    width: 90%;
    height: 100%;
    margin: 0 10px;
}

.postLavel{
    float: left;
}

.postSubmitBtn{
    width: 80px;
    margin: 10px auto;
    display: block;
}

th {
    border-top: 1px dotted #343434;
    border-bottom: 1px dotted #343434;
}

td {
    border-top: 1px dotted #343434;
    border-bottom: 1px dotted #343434;
}

th {
    text-align: center;
}

tr {
    height: 30px;
}