{% extends 'base.html' %}
{% block contents %}
    <div id="table-container">
        <table>
            <tbody>
            <tr><td class="post-header">로그인</td></tr>
            <tr><td>
                <div id="form-container">
                    <form class="form-horizontal" name="LoginForm" action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="fieldWrapper">
                            <label class="control-label" for="username">Username</label>
                            <input type="text" id="username" name="username"  placeholder="Username">
                        </div>
                        <div class="fieldWrapper">
                            <label class="control-label" for="password">Password</label>
                            <input type="password" name="password" id="password" placeholder="Password">
                        </div>
                        <input type="submit" value="submit">
                    </form>
                </div>
            </td>
            </tr>
            </tbody>
        </table>
        <div class="post-footer">
            <a href="{% url "board.views.index" %}">목록으로</a>
        </div>
    </div>

{% endblock contents %}