{% extends 'base.html' %}
{% block contents %}
    <div id="table-container">
    <div class="menu">
        {% if request.session.username %}
            <div class="menu-right"><a href="{% url 'board.views.logout' %}">[ 로그아웃 ]</a></div>
            <div class="menu-right">환영합니다. {{ request.session.username }} 님</div>

            <div class="menu-left"><a href="{% url 'board.views.createPost' %}">[ 글작성 ]</a></div>

        {% else %}
            <div class="menu-left"><a href="{% url 'board.views.signUp' %}">회원가입</a></div>
            <div class="menu-right"><a href="{% url 'login' %}">로그인</a></div>
        {% endif %}
    </div>

        <table>
            <tbody>
            <tr class="table-header">
                <th width="60">번호</th>
                <th width="540">제목</th>
                <th width="100">글쓴이</th>
            </tr>
            {% for post in post_list %}
                <tr>
                    <td style="text-align: center">{{ post.id }}</td>
                    <td><a href="{{ post.id }}">{{ post.title }}</a></td>
                    <td style="text-align: center">{{ post.user.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock contents %}